.container {
  width: 90%;

  margin: 2rem auto;
  display: grid;
  background-color: #ddd;

  grid-template-rows: repeat(2, minmax(150px, min-content));
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.item {
  padding: 20px;
  color: white;
  font-size: 30px;
  background-color: orangered;
}

.item--1 {
}

.item--2 {
}

.item--3 {
}

.item--4 {
}

.item--5 {
}

.item--6 {
}

.item--7 {
}
