.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: $margin-big;
}
.u-margin-bottom-medium {
  margin-bottom: $margin-medium;
}
.u-margin-bottom-small {
  margin-bottom: $margin-small;
}
