// colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5641fa;

$color-grey-light-1: #f7f7f7;

$color-grey: #777;
$color-white: #ffff;
$color-black: #000;
$color-black-light: #3c4048;

// grid
$grid-with: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// margin for utility
$margin-big: 8rem;
$margin-medium: 5rem;
$margin-small: 2rem;
